{% extends "template.html" %}
{% block content %}
{% include "template/flash.html" %}

{# Sessão com os botões #}
<section class="section">
  <div class="container">
      <div class="row">
        {# col-sm-12 col-md-6 col-lg-6 #}
        <div class="col-sm-12 col-md-6 col-lg-6">
          {# Caixa - Botão #}
          <a class="icnbox active margin-b-50" href="{{ url_for('administration.places') }}">
            {# Ícone #}
            <i class="margin-b-10 icon icon-gradient-2 icon-gradient-place"></i>
            {# Texto #}
            <h5 class="margin-tb-20"><b>Locais</b></h5>
            {# Preenchimento botão #}
            <p class="desc">                                                                                                     </p>
          </a>
        </div>
        
        {# col-sm-12 col-md-6 col-lg-6 #}
        <div class="col-sm-12 col-md-6 col-lg-6">
          {# Caixa - Botão #}
          <a class="icnbox  margin-b-50" href="{{ url_for('administration.manage_users') }}">
            {# Ícone #}
            <i class="margin-b-10 icon icon-gradient-2 icon-gradient-user"></i>
            {# Texto #}
            <h5 class="margin-tb-20"><b>Usuários</b></h5>
            {# Preenchimento botão #}
            <p class="desc">                                                                                                     </p>
          </a>
        </div>
    </div>
  </div>
</section>
{% endblock content %}