{% extends "template.html" %}
{% block content %}
    
{# Sessão redes sociais #}
<div class="social-section" id="next">
    <div class="container">
        {# Lista com icones das redes sociais #}
        <ul>
            <li>Siga-nos nas redes sociais</li>
            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
            <li><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
        </ul>  
    </div>
</div>
{# Sessão mensagem de introdução #}  
<section class="text-section" id="intro">
    {# Imagem esquerda #}
    <div class="image-wrapper" style="background-image: url({{ url_for('static', filename='imgs/img1.jpg') }})">     
    </div>
    {# Texto #}
    <div class="container">
        <div class="intro section">
            <h3><b>O <span class="font-green">Mapa Cultural</span> busca integrar eventos culturais e pessoas em <span class="font-green">São Paulo</span></b></h3>
            <p class="margin-tb-20">O foco do mapa é integrar e dar visibilidade para projetos, artistas, espaços, eventos culturais e seus produtores.</p>
        </div>
    </div>
</section>
{# Sessão contador #}
<section class="counter-section section" id="counter">
    <div class="container">
        <div class="row">
            {# col-sm-12 col-md-12 #}
            <div class="col-sm-12 col-md-12">
                <center>
                    {# Contador locais #}
                    <div class="margin-b-30">
                        <i class="margin-b-10 icon-gradient icon-gradient-bottle"></i>
                        <h2><b>+ <span class="counter-value" data-duration="1000" data-count="40">0</span></b></h2>
                        <h6><b>Locais cadastrados</b></h6>
                    </div>
                </center>
            </div>
        </div>
    </div>
</section>
{# Sessão locais #}
<section class="section" id="locais">
    <div class="container">
        {# Texto pesquisa #}
        <div class="heading-area">
            <h3><b>Busque e salve os <span class="font-green">espaços mais próximos</span> de você e <span class="font-green">se divirta</span> em <span class="font-green">São Paulo.</span>
            {# Se, não existir usuário logado, apresenta mais um texto #}
            {% if not current_user.name %}
            Faça login para <span class="font-green">salvar</span> os locais e vizualizar diretamente no seu perfil, sem <span class="font-green">precisar buscar</span>  novamente.</span>
            {% endif %} 
            </b></h3>
        </div>
        {# Form que recebe o valor da variavel CEP, filtros e atualiza o mapa no index #}
        <form method="GET" action="/#locais">
            {# Filtros com dropdown. Quantidade e cidades #}
            <div class="input-group padding-lr-0 mb-3 col-xs-12 col-md-7">
                {# Filtro quantidades, retorna variavel qtt #}
                <select name="qtt" id="qtt" class="form-control form-control-sm">
                  <option value="10"><b>Quantidade de locais</b></option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="30">30</option>
                </select>
            </div>
            {# CEP e Botão pesquisar #}
            <div style="position: relative;"class="input-group mb-3">
                {# Input CEP #}
                <input type="number" name="cep" class="form-control" placeholder="Digite o CEP para buscar os pontos mais próximos a você" required>
                {# Botao pesquisar #}
                <div class="input-group-append">
                    <button class="btn btn-border" type="submit" name="submit">
                        <b>Pesquisar</b>
                        <i class="ion-chevron-right"></i>
                        <i class="ion-chevron-right"></i>
                    </button>
                </div>
            </div>

            {# Inclui mensagens do flask #}
            {% include "template/flash.html" %}            
        </form>
        {# Carrega o mapa com as coordenadas #}
        {{movingmap.js}}<p>{{movingmap.html}}</p>
        {# Se existir alguma pesquisa de CEP, cria uma lista #}
        {% if table %}
            {# Cria uma lista de collapses com 10px de margem no topo#}
            <div class="collapse-style" id="accordion">
                {# Para cada lugar no array de lugares, cria um collapse #}
                {% for place in places %}
                {# Só não cria para o id 0. O ID 0 é o ID do local temporário (CEP DIGITADO) #}
                {% if place.id!=0 %}
                    {# FUNDO DO COLLAPSE #}
                    <div class="card">
                        {# TOPO com ID unica. ID é usada como referencia para abrir ou fechar o collapse #}
                        <div class="card-header" id="{{ loop.index }}">
                            <h5 class="mb-0">
                                {# Botão com referencia ao ID do topo e do body do collapse #}
                                <a id='btn-place' class="accordion-toggle btn btn-link btn-lg btn-block text-left collapsed" data-toggle="collapse" data-target="#{{ place._id }}" aria-expanded="false" aria-controls="{{ place._id }}">
                                    {# Título #}
                                    {{place.name}} 
                                </a>
                            </h5>
                        </div>
                        {# Body com id unica #}
                        <div id="{{ place._id }}" class="collapse" aria-labelledby="{{ loop.index }}" data-parent="#accordion">
                            {# Texto com o endereço #}
                            <div class="card-body">
                                <p id="card-body">
                                {{place.street}}, <b>N° </b>{{place.number}} - {{place.neighbor}} - {{place.city}}, {{place.state}} - <b>CEP</b> {{place.cep}}
                                {#<br></br>
                                <b>Preço médio do ingresso:</b> INTEIRO:#}
                                <br></br>
                                </p>
                                {# Botão salvar local #}
                                <a class="btn btn-red margin-b-30" href="{{ url_for('profile.save_place', id=place._id, cep=cep, qtt=qtt) }}">
                                    <i class="fa fa-save"></i>
                                    <b>SALVAR</b>
                                    <i class="ion-chevron-right"></i>
                                    <i class="ion-chevron-right"></i>
                                </a>         
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>

        {% endif %}
    </div>
</section>
{# Carrega o JS que redireciona para a sessão locais #}
<script src="{{ url_for('static', filename='js/section.js') }}"></script>
    
{% endblock content %}