{% extends "template.html" %}
{% block content %}

{# Sessão redes sociais #}
<div class="social-section">
    <div class="container">
        {# Lista com icones das redes sociais #}
        <ul>
            <li>Siga-nos nas redes sociais</li>
            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
            <li><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
        </ul>  
    </div>
</div>

{# Sessão sobre #}
<section class="about-section section  margin-b-30" id="about">
    <div class="container position-relative">
        <div class="image-wrapper">
            <div class="display-table">
                {# Imagem lado esquerdo #}
                <div class="display-table-cell">
                    <img src="{{ url_for('static', filename='imgs/img1.png') }}" alt="About Image">
                </div>
            </div>
        </div>  
        {# Texto #}  
        <div class="about">
            <h3><b>Quer ir ao cinema mais próximo e com o melhor custo-benefício? O <span class="font-green">CineMap</span> pode te ajudar.</b></h3>
            <p class="margin-tb-20">Com poucos filtros, o site te permite encontrar cinemas de acordo com preços e proximidade.
        </div>
    </div>
</section>

{# Sessão detalhes #}
<section class="info-section section" id="counter">
    <div class="container">
        <div class="row">
            {# col-sm-2 col-md-2 #}
            <div class="col-sm-2 col-md-2">
                {# DIV BUSCAR #}
                <center>
                <div class="margin-b-30">
                    <img class="info-img" src="{{ url_for('static', filename='imgs/search.png') }}">
                </div>
                </center>
            </div>            
            {# col-sm-10 col-md-10 #}
            <div class="col-sm-10 col-md-10">
                {# DIV BUSCAR #}
                <div class="margin-b-30">
                    <h2><b>BUSQUE</span></b></h2>
                    <h4>Os cinemas mais próximos de você</h4>
                </div>
            </div>
            {# col-sm-2 col-md-2 #}
            <div class="col-sm-2 col-md-2">
                {# DIV BUSCAR #}
                <center>
                <div class="margin-b-30">
                    <img class="info-img" src="{{ url_for('static', filename='imgs/compare.png') }}">
                </div>
                </center>
            </div>            
            {# col-sm-10 col-md-10 #}
            <div class="col-sm-10 col-md-10">
                {# DIV BUSCAR #}
                <div class="margin-b-30">
                    <h2><b>COMPARE</span></b></h2>
                    <h4>Verifique os melhores preços das salas de cinemas mais próximas</h4>
                </div>
            </div>
            {# col-sm-2 col-md-2 #}
            <div class="col-sm-2 col-md-2">
                {# DIV BUSCAR #}
                <center>
                <div class="margin-b-30">
                    <img class="info-img" src="{{ url_for('static', filename='imgs/save.png') }}">
                </div>
                </center>
            </div>            
            {# col-sm-10 col-md-10 #}
            <div class="col-sm-10 col-md-10">
                {# DIV BUSCAR #}
                <div class="margin-b-30">
                    <h2><b>SALVE</span></b></h2>
                    <h4>Salves os locais e verifique novamente diretamente no seu perfil</h4>
                </div>
            </div>
        </div>
    </div>
</section>
{# Sessão locais #}
<section class="section" id="locais">
    <div class="container">
        {# Texto pesquisa #}
        <div class="heading-area">
            <h3 class="justify"><b>Para buscar ou salvar, digite o CEP sem traços ou pontos e clique em pesquisar.</b></h3>
            {# Se, não existir usuário logado, apresenta mais um texto #}
            {% if not current_user.name %}
            <h3 class="justify"><b>
            Faça login para <span class="font-green">salvar</span> cinemas e vizualizar diretamente no seu perfil, sem <span class="font-green">precisar buscar</span>  novamente.</span>
            {% endif %} 
            </b></h3>
        </div>
        {# Form que recebe o valor da variavel CEP, filtros e atualiza o mapa no index #}
        <form method="GET" action="/#locais">
            {# Filtros com dropdown. Quantidade e cidades #}
            <div class="input-group padding-lr-0 mb-3 col-xs-12 col-md-7">
                {# Filtro quantidades, retorna variavel qtt #}
                <select name="qtt" id="qtt" class="form-control form-control-sm">
                  <option value="10"><b>Quantidade de cinemas</b></option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="30">30</option>
                </select>
            </div>
            {# CEP e Botão pesquisar #}
            <div style="position: relative;"class="input-group mb-3">
                {# Input CEP #}
                <input type="number" name="cep" class="form-control" placeholder="Digite o CEP para buscar os pontos mais próximos a você" required>
                {# Botao pesquisar #}
                <div class="input-group-append">
                    <button class="btn btn-border" type="submit" name="submit">
                        <b>Pesquisar</b>
                        <i class="ion-chevron-right"></i>
                        <i class="ion-chevron-right"></i>
                    </button>
                </div>
            </div>

            {# Inclui mensagens do flask #}
            {% include "template/flash.html" %}            
        </form>
        {# Carrega o mapa com as coordenadas #}
        {{movingmap.js}}<p>{{movingmap.html}}</p>
        {# Se existir alguma pesquisa de CEP, cria uma lista #}
        {% if table %}
            {# Cria uma lista de collapses com 10px de margem no topo#}
            <div class="collapse-style" id="accordion">
                {# Para cada lugar no array de lugares, cria um collapse #}
                {% for place in places %}
                {# Só não cria para o id 0. O ID 0 é o ID do local temporário (CEP DIGITADO) #}
                {% if place.id!=0 %}
                    {# FUNDO DO COLLAPSE #}
                    <div class="card">
                        {#  Botão com referencia ao ID do topo e do body do collapse  #}
                        <div class="card-header collapsed"  data-toggle="collapse" data-target="#{{ place._id }}" aria-expanded="false" aria-controls="{{ place._id }}" id="{{ loop.index }}">
                            <h5 class="mb-0">
                                {# Titulo com seta #}
                                <a class="accordion-toggle btn btn-link btn-lg btn-block text-left">
                                    {{place.name}} 
                                </a>
                            </h5>
                        </div>
                        {# Body com id unica #}
                        <div id="{{ place._id }}" class="collapse" aria-labelledby="{{ loop.index }}">
                            {# Texto com o endereço #}
                            <div class="card-body">
                                <p id="card-body">
                                    {{place.street}}, <b>N° </b>{{place.number}} - {{place.neighbor}} - {{place.city}}, {{place.state}} - <b>CEP</b> {{place.cep}}
                                </p>
                                {# Quebra de linha #}
                                <br></br>
                                {# Botão Como chegar#}
                                <a class="btn btn-blue margin-b-30" href="https://www.google.com/maps/dir/{{user.lat}}{{user.lng}}/{{place.lat}}{{place.lng}}/@{{place.lat}}{{place.lng}}" target="_blank">
                                    <i class="fa fa-search"></i>
                                    <b>Como chegar</b>
                                    <i class="ion-chevron-right"></i>
                                    <i class="ion-chevron-right"></i>
                                </a>      
                                {# Se existir, usuário logado, permite salvar o local #}
                                {% if current_user.name %}
                                {# Botão salvar local #}
                                <a class="btn btn-red margin-b-30" href="{{ url_for('profile.save_place', id=place._id, cep=cep, qtt=qtt) }}">
                                    <i class="fa fa-save"></i>
                                    <b>SALVAR</b>
                                    <i class="ion-chevron-right"></i>
                                    <i class="ion-chevron-right"></i>
                                </a>         
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>
{# Carrega o JS que redireciona para a sessão locais #}
<script src="{{ url_for('static', filename='js/section.js') }}"></script>
    
{% endblock content %}