{% extends "template.html" %}
{% block content %}

{# Imagem de fundo do header #}
<div class="main-profile" style="background-image:url({{ url_for('static', filename='imgs/signinup.jpg') }});">
    {# Div com o texto #}
    <div class="display-table center-text">
        <div class="display-table-cell">
            {# Textos #}
            <div class="slider-content">
                <h2>Olá, <b>{{ current_user.name }}</b></h2>
                {# Usuário #}
                <h4 class="margin-tb-20">
                    <b>Username:</b> {{ current_user._id }}
                </h4>
                {# E-mail #}
                <h4 class="margin-tb-20">
                    <b>E-mail:</b> {{ current_user.email }}
                </h4>
                {# Botão editar dados #}
                <a class="btn btn-reverse margin-b-30" href="{{ url_for('profile.edit_user') }}">
                    <b>EDITAR DADOS</b>
                    <i class="ion-chevron-right"></i>
                    <i class="ion-chevron-right"></i>
                </a>
                {# Botão editar senha #}
                <a class="btn btn-reverse margin-b-30" href="{{ url_for('profile.edit_password') }}">
                    <b>EDITAR SENHA</b>
                    <i class="ion-chevron-right"></i>
                    <i class="ion-chevron-right"></i>
                </a>
                {# Botão Excluir perfil #}
                <a class="btn btn-reverse margin-b-30" data-toggle="modal" data-target="#modalremove">
                    <b>EXCLUIR PERFIL</b>
                    <i class="ion-chevron-right"></i>
                    <i class="ion-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
{# Popup remover usuário #}
<div class="modal fade" id="modalremove" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    {# Topo da caixa - Título #}
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Aviso</h5>
                {# Botão fechar #}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {# Conteúdo caixa #}
            <div class="modal-body">Realmente deseja remover este usuário?</div>
            {# Footer caixa #}
            <div class="modal-footer">
                {# Botão confirmar #}
                <a href="{{ url_for('profile.remove_user') }}">  <button type="submit" class="btn btn-danger">SIM</button>
                </a>
                {# Botão negar #}
                <button type="button" class="btn btn-dark" data-dismiss="modal">NÃO</button>
            </div>
        </div>
    </div>
</div>
{# Mensagens flash #}
{% include "template/flash.html" %}
{# Sessão com o título #}
<div class="social-section" id="next">
    <div class="container">
    	<h4><b>Locais salvos</b></h4>
    </div>
</div>

{# Se existir lugares, carrega a tabela #}
{% if places %}
    <section class="section">
        {# Imagem de fundo do header #}
        <div class="container">
            {# Carrega o mapa com as coordenadas #}
            {{movingmap.js}}<p>{{movingmap.html}}</p>
            {# Define o estilo da tabela, como responsiva, com bordar e hover #}
            {# Cria uma lista de collapses com 10px de margem no topo#}
            <div class="collapse-style" id="accordion">
            {# Para cada lugar no array de lugares, cria um collapse #}
            {% for place in places %}
                {# FUNDO DO COLLAPSE #}
                <div class="card">
                    {#  Botão com referencia ao ID do topo e do body do collapse  #}
                    <div class="card-header collapsed"  data-toggle="collapse" data-target="#{{ place._id }}" aria-expanded="false" aria-controls="{{ place._id }}" id="{{ loop.index }}">
                        <h5 class="mb-0">
                            {# Titulo com seta #}
                            <a class="accordion-toggle btn btn-link btn-lg btn-block text-left">
                                {{place.name}} 
                            </a>
                        </h5>
                    </div>
                    {# Body com id unica #}
                    <div id="{{ place._id }}" class="collapse" aria-labelledby="{{ loop.index }}">
                        {# Texto com o endereço #}
                        <div class="card-body">
                            <p id="card-body">
                                {{place.street}}, <b>N° </b>{{place.number}} - {{place.neighbor}} - {{place.city}}, {{place.state}} - <b>CEP</b> {{place.cep}}
                            </p>
                            {# Quebra de linha #}
                            <br></br>  
                            {# Se existir, usuário logado, permite salvar o local #}
                            {% if current_user.name %}
                            {# Botão salvar local #}
                            <a id="btn-color" class="btn btn-red margin-b-30" data-toggle="modal" data-target="#{{place._id|string}}1" >
                                <i class="fa fa-save"></i>
                                <b>REMOVER</b>
                                <i class="ion-chevron-right"></i>
                                <i class="ion-chevron-right"></i>
                            </a>         
                            {% endif %}
                        </div>
                    </div>
                </div>
                {# Popup remover local #}
                <div class="modal fade" id="{{place._id|string}}1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    {# Topo da caixa - Título #}
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Aviso</h5>
                                {# Botão fechar #}
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {# Conteúdo caixa #}
                            <div class="modal-body">Realmente deseja remover este local?</div>
                            {# Footer caixa #}
                            <div class="modal-footer">
                                {# Botão confirmar #}
                                <a href="{{ url_for('profile.delete_place', id=place._id) }}">  <button type="submit" class="btn btn-danger">SIM</button>
                                </a>
                                {# Botão negar #}
                                <button type="button" class="btn btn-dark" data-dismiss="modal">NÃO</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>  
        </div>
    </section>
{# Se não existir locais, apresenta uma mensagem #}
{% else %}
    <section class="about-section section">  
        <div class="container position-relative">
            {# Mensagem locais #}
            <div class="about">
                <h3>
                    <b>Nenhum local salvo. Para salvar locais, utilize o mapa na página inicial</b>
                </h3>
            </div>
        </div>
    </section>
{% endif %}

{% endblock content %}


 