{% extends "template.html" %}
{% block content %}
{% include "template/flash.html" %}

{# Caixa #}
<div class="limiter">
  <div class="container-contact100">
    <div class="wrap-contact100" id="next">
      {# Titulo do form #}
      <div class="login100-form-title">
        <span class="contact100-form-title">Crie um novo usuário</span>
      </div>
      {# Cria um form que redireciona para autenticação de novo usuario #}
      <form method="POST" action="{{ url_for('signin.new_user') }}" class="contact100-form validate-form">
        {# Label e input do nome #}
        <div class="wrap-input100 validate-input bg1" data-validate="Nome inválido">
          <span class="label-input100">NOME</span>
          <input class="input100" value="{{name}}" type="text" id="nome" name="nome" placeholder="Digite seu nome">
        </div>
        {# Label e input do email #}
        <div class="wrap-input100 validate-input bg1" data-validate="E-mail inválido">
          <span class="label-input100">E-MAIL</span>
          <input class="input100" value="{{email}}" type="email" id="email" name="email" placeholder="Digite um email válido do tipo example@example.com">
        </div>
        {# Label e input do usuario #}
        <div class="wrap-input100 validate-input bg1" data-validate="Username inválido">
          <span class="label-input100">USUÁRIO</span>
          <input class="input100" value="{{username}}" type="text" id="usuario" name="usuario" placeholder="Digite um username com no mínimo 5 caracteres">
        </div>
        {# Label e input da senha #}
        <div class="wrap-input100" data-validate="Senha inválida">
          <span class="label-input100">SENHA</span>
          <input class="input100" type="password" id="psw" name="psw" placeholder="Digite uma senha com pelo menos 8 caracteres" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
        </div>
        {# Verificação se a senha está correta #}
        <div id="message">
          <b><h5>Para sua segurança, crie uma senha com os seguintes itens:</h5></b>
          <p id="letter" class="invalid">Pelo menos uma letra <b>minuscula</b></p>
          <p id="capital" class="invalid">Pelo menos uma letra <b>maiuscula</b></p>
          <p id="number" class="invalid">Pelo menos um <b>número</b></p>
          <p id="length" class="invalid">No mínimo <b>8 caracteres</b></p>
        </div>
        {# Label e input da confirmação de senha #}
        <div class="wrap-input100" data-validate="Senha inválida">
          <span class="label-input100">CONFIRME A SENHA</span>
          <input class="input100" type="password" id="password" name="password" placeholder="Digite novamente a senha">
        </div>
        {# col-md-12 col-lg-12 col-xl-12 #}
        <div class="col-md-12 col-lg-12 col-xl-12">
          <center>
            {# Botão submit #}
            <button class="btn btn-border" type="submit" name="submit">
              <b>Cadastrar</b>
              <i class="ion-chevron-right"></i>
              <i class="ion-chevron-right"></i>
            </button>
         </center>
        </div>
      </form>
    </div>
  </div>
</div>

{# Carrega o script para verificar se a senha está dentro dos parametros #}
<script src="{{ url_for('static', filename='js/password.js') }}"></script>
  
{% endblock content %}